# 忽略 aclinit.json 文件
aclinit.json

# 忽略 jiankunlin 文件夹
jiankunlin/

# 忽略 kernel_meta 文件夹
kernel_meta/

# 忽略 touch 文件
touch

# 忽略 WorkSpace1 文件夹
WorkSpace1/

# 忽略 Testcases1 目录下的所有 baseline 文件夹
Testcases1/**/baseline/

Testcases1/**/baseline_bak/

fusion_result.json

Testcases1/**/baseline/

Testcases1/**/dump_tensor_data/
*.npy

**/dump_tensor_data/